
#exportPattern("^[[:alpha:]]+")

export(FT)
export(chooseOpi)
export(dbTocd, cdTodb)

#export(simH.opiPresent)
#export(simH.opiPresent.opiStaticStimulus)

#S3method(simH.opiPresent, opiStaticStimulus)
#S3method(simH.opiPresent, opiKineticStimulus)
#S3method(simH.opiPresent, opiTemporalStimulus)
